<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="loginDiv">
    <ion-grid>
      <ion-row>
        <!-- TODO: Add icon? -->
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Username/Email" labelPlacement="floating" [(ngModel)]="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="errorText">
        <ion-col>
          <ion-item color="danger">
            {{ errorText }}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
