<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%">
    <ion-row
      style="height: 100%"
      class="ion-align-items-center ion-justify-content-center"
    >
      <ion-col sizeMd="5">
        <ion-item class="ion-margin-bottom">
          <ion-input
            label="Email"
            labelPlacement="floating"
            type="email"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-input
            label="Password"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="password"
          ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-input
            label="Repeat Password"
            labelPlacement="floating"
            type="password"
            [(ngModel)]="passwordRepeat"
          ></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="errorText" color="danger">
          {{ errorText }}
        </ion-item>
        <ion-button
          class="ion-margin-bottom"
          expand="block"
          (click)="register()"
          >Register</ion-button
        >
        <ion-button expand="block" (click)="login()" color="primary">
          Already have an account? Log in!</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
