<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadOrders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img alt="Avatar" src="{{ userService.Avatar }}" />
        </ion-avatar>
        <ion-label>{{ userService.Username }}</ion-label>
      </ion-item>
      <ion-button (click)="newOrder()">
        <ion-icon name="add-outline"></ion-icon>
        New order
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Open orders </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!ordersLoading">
        <ion-item
          *ngFor="let item of orders;"
          (click)="openOrder(item)"
          detail="true"
        >
          <label>{{ item['expand']?.['creator']?.['name'] }}</label>
          <ion-badge slot="end"> {{ getDate(item['created']) }} </ion-badge>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="ordersLoading">
        <ion-item>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated="true"></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
